<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="{{ asset('siteweb/images/logo.png')}}')}}" type="image/x-icon">
    <title>J4R Échafaudages &#8211; Specialisé dans le transport, la location et le montage d’échafaudages</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('siteweb/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/linearicons/style.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/linearicons-2/css/linearicons.css')}}" />

    <!-- Rev slider css -->
    <link href="{{ asset('siteweb/vendors/revolution/css/settings.css')}}" rel="stylesheet" />
    <link href="{{ asset('siteweb/vendors/revolution/css/layers.css')}}" rel="stylesheet" />
    <link href="{{ asset('siteweb/vendors/revolution/css/navigation.css')}}" rel="stylesheet" />

    <!-- Extra Plugin CSS -->
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/animate-css/animate.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/slick/slick.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/popup/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/splitting/splitting.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/vendors/animsition-preloader/css/animsition.min.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('siteweb/css/style.css')}}" />
    <link rel="stylesheet" href="{{ asset('siteweb/css/header.css')}}" />

    <link rel="stylesheet" href="{{ asset('siteweb/css/responsive.css')}}" />
    <style>
        /* custom.css')}} */
        .project-details {
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            margin: 20px 0;


        }

        .details {
            flex: 1 1 300px;
            padding: 20px;
            color: #333;
        }

        .images {
            flex: 2 1 600px;
            padding: 20px;
        }

        .images img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }

        .small-images {
            display: flex;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .small-images img {
            flex: 0 0 auto;
            width: 32%;
            height: auto;
            margin-right: 10px;
            cursor: pointer;
        }

        .small-images img:last-child {
            margin-right: 0;
        }

        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            color: #222;
            color: #28262b;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            font-family: "texgyreadventorregular";
            line-height: 19.18px;
            text-transform: none;
            letter-spacing: 0px;
            color: #28262b;
            position: relative;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 27px;
        }

        .nature_traveaux {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            font-family: "Raleway";
            line-height: 22px;
            text-transform: none;
            letter-spacing: 0px;
            color: #565656;
        }

        @media (max-width: 768px) {
            .project-details {
                flex-direction: column;
            }

            .details,
            .images {
                flex: 1 1 100%;
            }

            .small-images img {
                max-width: 48%;
                margin-bottom: 10px;
            }
        }

        /* Lightbox styles */
        .lightbox {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
            align-items: center;
            justify-content: center;
        }

        .lightbox-content {
            position: relative;
            margin: auto;
            padding: 10px;
            width: 80%;
            max-width: 900px;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lightbox-content img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
            margin-top: 10%;

        }

        .close {
            position: absolute;
            top: 10px;
            right: 25px;
            color: #fff;
            font-size: 35px;
            font-weight: bold;
            cursor: pointer;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            user-select: none;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }

        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }


        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
        }

        .content .left-column {
            flex: 2;
            min-width: 250px;
            margin-right: 20px;
        }

        .content .right-column {
            flex: 1;
            min-width: 250px;
        }

        .right-column ul {
            list-style: none;
            padding: 0;
        }

        .right-column ul li::before {
            content: "•";
            color: #333;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        .right-column h3 {
            margin-top: 0;
        }

        .content p,
        .right-column li {
            margin-bottom: 10px;
        }

        .home_logo img {

            width: 100%;
            margin-left: 18vmin;
            margin-top: 2vmax;

        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')}}">

    <link rel="stylesheet" href="{{ asset('siteweb/css/footer.css')}}" />
</head>

<body data-scroll-animation="true" class="loading">
    <div class="animsition">
        <div class="body_wrapper">

            <!--================Header Area =================-->
            <header class="header_area home_page">
                <div class="home_logo">
                    <a href="index.html"><img src="{{ asset('siteweb/images/logo.png')}}" alt=""></a>
                </div>
                <div class="main_menu">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="index.html">
                                <img src="{{ asset('siteweb/images/j4r_logo.png')}}" alt="" />
                                <img src="{{ asset('siteweb/images/j4r_logo.png')}}" alt="" />
                            </a>
                            <button class="navbar-toggler " type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav centered-nav">
                                    <li class="">
                                        <a href="{{ path('app_web_site') }}"><i class="fas fa-home"></i></a>
                                    </li>
                                    <li><a href="{{ path('app_web_site_about') }}">J4R ÉCHAFAUDAGES</a></li>
                                    <li class="active">
                                        <a href="{{ path('app_web_site_realisations') }}">RÉALISATIONS</a>
                                    </li>
                                    <li><a href="{{ path('app_web_site_contact') }}">CONTACT</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </div>
                <hr class="header-line">

            </header>
            <!--================End Header Area =================-->

            <!--================Portfolio Area =================-->
            <section class="portfolio_area portfolio_masonry p-170">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="project-details">
                                <div class="details">
                                    <h3>Projet :</h3>
                                    <p class="nature_traveaux">{{ projet.getName()}}</p>
                                    <h3>NATURE DES TRAVAUX</h3>
                                    <p class="nature_traveaux">{{ projet.getDescription()}}
                                    </p>

                                </div>
                                <div class="images">
                                {% if images|length > 0 %}
                                    {# Afficher la première image comme 'main-image' #}
                                    <img src="{{ asset('uploads/images/' ~ images.first().filename) }}" alt="Image principale" class="main-image"
                                        onclick="openLightbox(); currentSlide(1)">
                            
                                    <div class="small-images">
                                        {# Boucle sur toutes les images à partir de la deuxième pour les miniatures #}
                                        {% for image in images|slice(1, images|length) %}
                                        <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="Image {{ loop.index + 1 }}"
                                                onclick="openLightbox(); currentSlide({{ loop.index + 1}})">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>Aucune image disponible pour ce projet.</p>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Portfolio Area =================-->

        </div>

        <div class="height-emulator"></div>
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container_footer">
                <div class="footer_content ">
                    <div class="footer_logo">
                        <img src="{{ asset('siteweb/images/logo.png')}}" alt="J4R Échafaudages">
                    </div>
                    <div class="footer_section">
                        <h5>NAVIGATION</h5>
                        <ul class="nav flex-column">
                            <li><a href="{{ path('app_web_site') }}">Accueil</a></li>
                            <li><a href="{{ path('app_web_site_about') }}">J4R ÉCHAFAUDAGES</a></li>
                            <li><a href="{{ path('app_web_site_realisations') }}">RÉALISATIONS</a></li>
                            <li><a href="{{ path('app_web_site_contact') }}">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="footer_section logos_certification">
                        <ul>
                            <li class="linkdin"><a href="https://fr.linkedin.com/company/j4r-echafaudages"
                                    target="_blank">
                                    <img src="{{ asset('siteweb/images/linkedin.png')}}" alt="J4R Échafaudages">
                                </a></li>
                            <li><img src="{{ asset('siteweb/images/logo-federation-francaise-du-batiment.png')}}"
                                    alt="J4R Échafaudages"></li>
                            <li><img src="{{ asset('siteweb/images/logo_color.svg')}}" alt="J4R Échafaudages"></li>
                        </ul>
                    </div>
                    <div class="footer_section">
                        <h5>CONTACT</h5>
                        <p>Adresse : 49 Rue Ampère<br>77400 Lagny-sur-Marne</p>
                        <p>Horaires : 8h – 18H du lundi au vendredi</p>
                        <p>Téléphone : 01 60 07 22 01</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
    </div>
    <div id="lightbox" class="lightbox" onclick="closeLightbox(event)">
        <span class="close" onclick="closeLightbox()">&times;</span>
        {% for image in images %}
        <div class="lightbox-content">
            <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="Image {{ loop.index }}">
        </div>
        {% endfor %}
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js')}}, then Bootstrap JS -->
    <script src="{{ asset('siteweb/js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{ asset('siteweb/js/popper.min.js')}}"></script>
    <script src="{{ asset('siteweb/js/bootstrap.min.js')}}"></script>

    <!-- Rev slider js -->
    <script src="{{ asset('siteweb/vendors/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/extensions/revolution.extension.actions.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/extensions/revolution.extension.video.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/revolution/js/extensions/revolution.extension.navigation.min.js')}}"></script>

    <!-- Extra Plugin CSS -->
    <script src="{{ asset('siteweb/vendors/animate-css/wow.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/slick/slick.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/popup/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/isotop/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/isotop/isotope.pkgd.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/splitting/splitting.min.js')}}"></script>
    <script src="{{ asset('siteweb/vendors/animsition-preloader/js/animsition.min.js')}}"></script>

    <script src="{{ asset('siteweb/js/theme.js')}}"></script>
    <script>
        var slideIndex = 1;

        function openLightbox() {
            document.getElementById('lightbox').style.display = 'block';
            document.addEventListener('keydown', closeLightboxOnEscape);

        }
        function closeLightbox(event) {
            if (event.target === event.currentTarget || event.target.classList.contains('close')) {
                document.getElementById('lightbox').style.display = 'none';
                document.removeEventListener('keydown', closeLightboxOnEscape);
            }
        }

        function closeLightboxOnEscape(event) {
            if (event.key === "Escape") {
                closeLightbox(event);
            }
        }


        function changeSlide(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("lightbox-content");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "flex";
        }
    </script>
</body>

</html>